.crypto-pair-header {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: none;
}
.pairTable {
  padding: 10px;
  margin: auto 70px;
}
.ReactTable {
  width: 100% !important;
}
.pair-table,
.popup-table {
  text-align: center;
  background-color: rgb(215, 225, 235);
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
fieldset {
  width: 100%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.select-compare-div {
  justify-content: space-around;
  display: flex;
}
.compare-coins-header {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}
.rt-thead {
  background-color: rgb(76, 84, 110);
  color: white;
}
.rt-tr-group:nth-child(2) {
  background-color: rgb(242, 245, 248);
}
.dropdown {
  margin-left: none;
  margin-right: none;
  width: 30vw;
  padding: 2px;
  cursor: pointer;
}
.compare-button {
  border: 2px thin black;
  margin-left: 8vw;
  margin-right: auto;
  width: 10vw;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(0, 49, 114);
  color: rgb(255, 255, 255);
  border-color: rgb(109, 146, 196);
  cursor: pointer;
}
.compare-button:hover {
  background-color: rgb(9, 14, 65);
  color: rgb(250, 244, 250);
}

/* CompareCoinsPopup.js */
.popup-box {
  position: fixed;
  background: rgba(118, 120, 131, 0.349);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(15vh - 20px);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  padding-top: 10px;
  border: 1px solid #999;
  overflow: auto;
}
#popup-table {
  width: 100% !important;
}
.popup-header-div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 0%;
}
#x-btn {
  background-color: transparent;
  border: none;
  margin-top: 0%;
  margin-bottom: 0.5%;
  padding: 0px;
  width: 30px;
  height: 100%;
  font-weight: bolder;
  font-size: 25px;
  font-family: fantasy;
  cursor: pointer;
  z-index: 5;
}

#x-btn:hover {
  background-color: rgb(238, 240, 245);
  border-radius: 5px;
}
#popup-header {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
#close-btn,
#add-to-table-btn {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
#close-btn {
  border-color: rgb(14, 79, 165);
  background-color: transparent;
}
#add-to-table-btn {
  background-color: rgb(94, 134, 187);
  color: rgb(255, 255, 255);
  border-color: rgb(1, 46, 104);
}
#add-to-table-btn:hover,
#close-btn:hover {
  background-color: rgb(9, 14, 65);
  color: rgb(250, 244, 250);
}
.popup-btn-div {
  text-align: right;
}
