body {
  margin: 0;
}
.navbar {
  background-color: #e0e0e4;
  color: rgb(59, 49, 49);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed !important;
  z-index: 4;
}
.navbar .navheader {
  margin: auto 15px;
}
.navbar .menu {
  margin: auto 15px;
  padding: 5px;
  width: 50px;
}
.menu:hover .menu-line {
  background-color: #e0e0e4;
}
.menu-line {
  background-color: rgb(53, 50, 50);
  padding: 2px;
  margin: 7px;
  font-size: 1px;
  border-radius: 3px;
}
div.bm-menu-wrap {
  background-color: #3f3b57;
  border-radius: "8px";
  text-align: center;
  font-size: larger;
  top: 60px;
}
.menu-item {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(237, 235, 243);
}
.menu-item:hover {
  background-color: rgb(105, 97, 143);
  outline: none;
  color: white;
}
.menu-item:focus {
  outline: none;
}
.bm-burger-button #react-burger-menu-btn {
  width: 50px !important;
  height: 50px !important;
  right: 20px !important;
  top: 7px !important;
  left: auto !important;
  z-index: 5 !important;
  position: fixed !important;
}
.bm-burger-button #react-burger-menu-btn:focus {
  outline: none;
}
.bm-burger-button #react-burger-menu-btn:hover {
  background-color: rgba(170, 170, 184, 0.03) !important;
  border-radius: 20px 2px;
  border: 2px solid rgb(232, 233, 227) !important;
}
.bm-overlay {
  background: transparent !important;
}
:last-child .bm-burger-bars {
  height: 0% !important;
  width: 0%;
}
.offset_top {
  width: 100%;
  height: 60px;
}
